{:f :txn, :process 1, :value [[:append 1 1]], :time 109278257, :type :invoke, :index 0}
{:f :txn, :process 1, :value [[:append 1 1]], :time 109378257, :type :ok, :index 1}
{:f :txn, :process 1, :value [[:append 2 1]], :time 109378257, :type :invoke, :index 2}
{:f :txn, :process 1, :value [[:append 2 1]], :time 109478257, :type :ok, :index 3}
{:f :txn, :process 2, :value [[:append 4 1]], :time 109578257, :type :invoke, :index 4}
{:f :txn, :process 2, :value [[:append 4 1]], :time 109678257, :type :ok, :index 5}
{:f :txn, :process 2, :value [[:append 3 1]], :time 109778257, :type :invoke, :index 6}
{:f :txn, :process 2, :value [[:append 3 1]], :time 109878257, :type :ok, :index 7}
{:f :txn, :process 1, :value [[:append 7 1]], :time 109978257, :type :invoke, :index 8}
{:f :txn, :process 1, :value [[:append 7 1]], :time 109978257, :type :ok, :index 9}
{:f :txn, :process 2, :value [[:append 7 2]], :time 110078257, :type :invoke, :index 10}
{:f :txn, :process 2, :value [[:append 7 2]], :time 110178257, :type :ok, :index 11}
{:f :txn, :process 1, :value [[:append 5 1]], :time 110278257, :type :invoke, :index 12}
{:f :txn, :process 1, :value [[:append 5 1]], :time 110378257, :type :ok, :index 13}
{:f :txn, :process 2, :value [[:append 6 2]], :time 110478257, :type :invoke, :index 14}
{:f :txn, :process 2, :value [[:append 6 2]], :time 110578257, :type :ok, :index 15}
{:f :txn, :process 3, :value [[:r 6 nil]], :time 110678257, :type :invoke, :index 16}
{:f :txn, :process 3, :value [[:r 6 [2]]], :time 110778257, :type :ok, :index 17}
{:f :txn, :process 4, :value [[:r 6 nil]], :time 110878257, :type :invoke, :index 18}
{:f :txn, :process 4, :value [[:r 6 [2]]], :time 110978257, :type :ok, :index 19}
{:f :txn, :process 3, :value [[:append 2 2]], :time 111078257, :type :invoke, :index 20}
{:f :txn, :process 3, :value [[:append 2 2]], :time 111178257, :type :ok, :index 21}
{:f :txn, :process 4, :value [[:append 1 2]], :time 111278257, :type :invoke, :index 22}
{:f :txn, :process 4, :value [[:append 1 2]], :time 111378257, :type :ok, :index 23}
{:f :txn, :process 3, :value [[:r 1 nil]], :time 111478257, :type :invoke, :index 24}
{:f :txn, :process 3, :value [[:r 1 [1]]], :time 111578257, :type :ok, :index 25}
{:f :txn, :process 4, :value [[:r 2 nil]], :time 111678257, :type :invoke, :index 26}
{:f :txn, :process 4, :value [[:r 2 [1]]], :time 111778257, :type :ok, :index 27}
{:f :txn, :process 5, :value [[:r 5 nil]], :time 111878257, :type :invoke, :index 28}
{:f :txn, :process 5, :value [[:r 5 [1]]], :time 111978257, :type :ok, :index 29}
{:f :txn, :process 6, :value [[:r 5 nil]], :time 112078257, :type :invoke, :index 30}
{:f :txn, :process 6, :value [[:r 5 [1]]], :time 112178257, :type :ok, :index 31}
{:f :txn, :process 5, :value [[:append 3 2]], :time 112278257, :type :invoke, :index 32}
{:f :txn, :process 5, :value [[:append 3 2]], :time 112378257, :type :ok, :index 33}
{:f :txn, :process 6, :value [[:append 4 2]], :time 112478257, :type :invoke, :index 34}
{:f :txn, :process 6, :value [[:append 4 2]], :time 112578257, :type :ok, :index 35}
{:f :txn, :process 5, :value [[:r 4 nil]], :time 112678257, :type :invoke, :index 36}
{:f :txn, :process 5, :value [[:r 4 [1]]], :time 112778257, :type :ok, :index 37}
{:f :txn, :process 6, :value [[:r 3 nil]], :time 112878257, :type :invoke, :index 38}
{:f :txn, :process 6, :value [[:r 3 [1]]], :time 112978257, :type :ok, :index 39}